#!/usr/bin/make -f
# vim:noet:

DH_VERBOSE:=1

%:
	dh ${@}

override_dh_installinit:
	dh_installinit --update-rcd-params='defaults 21'

binary:
	dh_testroot
	dh_prep
	dh_installdirs -p
	dh_auto_install
	dh_install
	dh_installinit --update-rcd-params='defaults 21'
	dh_gencontrol
	dh_builddeb
